In [1]:
#Create a list
my_list=[5,10,15,20,25]
print("Created list is",my_list)

Created list is [5, 10, 15, 20, 25]

In [2]:
#Adding Elements to list
my_list.append(30)
print("After Adding Elements the list is",my_list)

After Adding Elements the list is [5, 10, 15, 20, 25, 30]

In [3]:
#Removing Elements from the list
my_list.remove(10)
print("After Removing Elements the list is",my_list)

After Removing Elements the list is [5, 15, 20, 25, 30]

In [4]:
#Modifying an element in the list
my_list[0]=35
print("After Modifying elements in the list",my_list)

After Modifying elements in the list [35, 15, 20, 25, 30]

In [5]:
#Create a Dictionary
my_dict={'Name':'karthik','Age':'19','City':'Kakinada'}
print("Created Dictionary is",my_dict)

Created Dictionary is {'Name': 'karthik', 'Age': '19', 'City': 'Kakinada'}

In [6]:
#Adding new key_value pair to the dictionary
my_dict['Gender']='Male'
print("After adding key value pair to dictionary",my_dict)

After adding key value pair to dictionary {'Name': 'karthik', 'Age': '19', 'City': 'Kakinada', 'Gender': 'Male'}

In [7]:
#Removing a key_value from the dictionary
del my_dict['Age']
print("Remove a key value pair from the dictionary",my_dict)

Remove a key value pair from the dictionary {'Name': 'karthik', 'City': 'Kakinada', 'Gender': 'Male'}

In [8]:
#Modifying a value in dictionary
my_dict['City']='Hyderabad'
print("After Modifying elements in the dictionary",my_dict)

After Modifying elements in the dictionary {'Name': 'karthik', 'City': 'Hyderabad', 'Gender': 'Male'}

In [9]:
#Create a set
my_set={1,2,3,4,5}
print("Created set is",my_set)

Created set is {1, 2, 3, 4, 5}

In [10]:
#Adding new element to set
my_set.add(6)
print("After adding an element to set",my_set)

After adding an element to set {1, 2, 3, 4, 5, 6}

In [11]:
#Removing an element from the set
my_set.remove(4)
print("After Removing elements from the set",my_set)

After Removing elements from the set {1, 2, 3, 5, 6}

In [12]:
#Modifying elements in set
my_set.discard(1)
my_set.add(7)
print("After Modifying elements in the set",my_set)

After Modifying elements in the set {2, 3, 5, 6, 7}